# Virtual environment
.venv/
env/
venv/

# Spark / Parquet output
indian_citizens_data/
*.parquet
*_data/
*.json

# Local metadata files
metadata.json
*/metadata.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb~

# Spark / Hadoop
spark-warehouse/
derby.log

# OS files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/